*.swp
*.bak
*.db

*.map

bower_components/
*.scssc

startbootstrap-*/

*.list
*.pyc
*.zip
static/*.zip
static/*.jpg
static/**/*.JPG
v/

notes/
blog/pages/notes/
content/pages/notes/
content/pages/athletic.html
