{% extends "base.html" %}
{% block content %}
{% block content_title %}
Welcome!
{% endblock %}

<p>Hi! If you're looking for a Robotics Software Engineer, here's my <a href="{filename}/pages/resume.md">resume</a>. My current work focuses on computer vision and robotic perception; however, I also built many other aspects of a robot in both software and hardware.</p>

<p>If you're looking for mildly entertaining content about software, check out <a href="{filename}/pages/blog.md">Building and Breaking Things</a>.</p>
{% endblock content %}
