{% extends "base.html" %}
{% block content %}
{% block content_title %}
{% endblock %}

<style>
    #banner {
        display: none;
    }
    h1 > span {
        white-space: pre-line;
        font-size: smaller;
    }
</style>
<h1 class="title">Buck Baskin</span></h1>

<p>If you're looking for a Robotics Software Engineer, here's my <a
href="/output/pages/resume.html">resume</a>. My current work focuses on computer vision and robotic perception; however, I also built many other aspects of a robot in both software and hardware.</p>

<p>If you're looking for mildly entertaining content about software, check out
<a href="/pages/blog.html">Building and Breaking Things</a>.</p>
{% endblock content %}
