h1, h2, h3, h4, h5, h6 {
    font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
    padding-left: 10px;
    padding-right: 10px;
}
header h2 {
    padding: 0px;
}
header, footer {
    padding-left: 10px;
    padding-right: 10px;
}
body {
    font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
    font-size: 21px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    overflow-wrap: break-word;
}
p {
    padding-left: 20px;
    padding-right: 20px;
}
.code {
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}
.title {
    font-weight: bolder;
    font-size: 60px;
}
.subtitle {
    front-size: 30px;
}

li{
  list-style-type: none;
}

@media (min-width 600px) {
    .title {
        font-weight: bolder;
        font-size: 100px;
    }
}

img {
    width: 100%;
    max-width: 1040px;
    margin-left: calc(-40px);
    width: calc(100% + 80px);
    background-color: darkgrey;
    /* clip-path: rectangle(100px 100px at 50% 50%); */
}

pre, code {
    /* I should code highlight with http://pygments.org/ */
    background-color: #eff0f1;
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
    line-height: 20px;
}