h1, h2, h3, h4, h5, h6 {
    font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
    padding-left: 10px;
    padding-right: 10px;
}
header h2 {
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
}
header {
    padding-left: 10px;
    padding-right: 10px;
}
footer {
    padding-left: 20px;
    padding-right: 20px; 
}
body {
    font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
    font-size: 21px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    overflow-wrap: break-word;
}
p {
    padding-left: 20px;
    padding-right: 20px;
}
.code {
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}
.title {
    font-weight: bolder;
    font-size: 60px;
}
.subtitle {
    front-size: 30px;
}

ul > li{
  list-style-type: none;
  /* padding-bottom: 10px; */
}

@media (min-width 600px) {
    .title {
        font-weight: bolder;
        font-size: 100px;
    }
}

.wideimage {
    width: 100%;
    max-width: 1040px;
    margin-left: calc(-40px);
    width: calc(100% + 80px);
    background-color: darkgrey;
}

.widevideo {
    width: 100%;
    margin: 20px;
    max-width: 1280px;
    margin-left: calc(-140px);
    width: calc(100% + 140px);
}

pre, code {
    /* I should code highlight with http://pygments.org/ */
    background-color: #eff0f1;
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
    line-height: 20px;
}

.skip {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

/* Display the link on focus. */
.skip:focus {
    clip: auto !important;
    display: block;
    height: auto;
    left: 5px;
    line-height: normal;
    top: 5px;
    width: auto;
    z-index: 100000;
}

.headerlink {
    padding-left: 0.25em;
    text-decoration: none;
}

.quote {
    border-left-color: black;
    border-style: solid;
    border-width: 0px;
    border-left-width: 3px;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 25px;
    padding-top: 1px;
    margin-bottom: 25px;
    font-size: 24px;
    padding-bottom: 1px;
    font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
    font-weight: 500;
}

.published {
    display: inline-block;
    min-width: 2in;
}

.previewimage {
    width: 20%;
    min-width: 2in;
    max-width: 1040px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    background-color: darkgrey;
    float: left;
}

math {
    padding: 10px;
}

.latex {
    postion: absolute;
    margin-left: auto;
    margin-right: auto;
    max-height: 90px;
    max-width: 1040px;
    height: auto;
    width: auto;
}

.latexhidden {
    display: none;
}
