@import 'pages/home';

$buck-main: #237abd;

$old-boostrap: #2c3e50;

.navbar-baskin {
  background-color: $old-boostrap;
}

.navbar .nav > li > a {
  color: #fff;
}

.navbar-baskin .navbar-brand {
  color: #fff;
}

.navbar-shrink {
}

header {
  background-color: $buck-main;
}

hr.star-light:after {
    color: #fff;
    background-color: $buck-main;
}

#about {
  background-color: $buck-main;
}