@import 'pages/home';

$buck-main: #006799;
$buck-light-text: #669ACC;
$buck-dark-text: #003466;
$buck-seco: #CC3400;
$buck-thir: #FF4900;
$buck-comp: #FF9200;

$buck-dark: #0f0f0f;


$nav-back: $buck-main;
$nav-front: #fff;
$nav-link-front: #fff;
$nav-link-front-hover: #000;

$body-back: #fff;

$card-back: #fff;
$card-border: #ddd;
$card-shadow: #ccc;