@import 'pages/home';

$buck-main: #237abd;
$nav-text: #fff;

$old-boostrap: #2c3e50;

.navbar-baskin {
  background-color: $old-boostrap;
}

.navbar .nav > li > a {
  color: $nav-text;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: $nav-text;
}

.navbar-baskin .navbar-brand {
  color: $nav-text;
}

.navbar-shrink {
}

header {
  background-color: $buck-main;
}

hr.star-light:after {
    color: #fff;
    background-color: $buck-main;
}

#about {
  background-color: $buck-main;
}